# Type check and lint the entire project. Use after changes to detect errors outside the active files.
check +files="just.ts":
    deno check {{files}}
    deno lint {{files}}

# Run a set of test files, by default all test files in the project.
test *test_files:
    deno test {{test_files}}

# Build the project.
build:
    @echo "The build is successful because you use Deno and there is no build step"

# Deploy the project to a target (production or staging)
deploy target="staging":
    @echo "Deployed to {{target}}"

# Drop the production database (intended only for humans with human brains)
drop_production_db:
    @echo "Sending your production data to heaven"